<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('team_name') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name %>
    </div>
  </div>

  <%= f.submit( class: "btn btn-primary") %>

<% end %>
