<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('team_name')%></strong>
  <%= @team.name %>
</p>

<%= link_to t('edit'), edit_team_path(@team), class: "btn btn-primary" %>
<%= link_to t('back'), teams_path, class: "btn btn-default" %>
