<div class="cemter jumbotron">
  <h2><%= t('intro_message') %></h2>
  <%= link_to t('signup'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th>Registered teams</th>
      <th>Registered members</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= @members[team.id] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div><b>Registered portal users:</b> <%= @users %></div>
</div>
