<div class="center jumbotron">
  <h2><%= t('intro_message') %></h2>
  <%= link_to t('signup_now'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th><%= t('registered_teams') %></th>
      <th><%= t('registered_members') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
          <td><%= @members[team.id] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div><b> <%= t('registered_users') %>:</b> <%= @users %></div>
</div>

