<%= form_for(competition) do |f| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('name') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name, size: 28%>
    </div>
    <div class="col-sm-2">
      <%= f.label t('deadline') %>
    </div>
    <div class="col-sm-3">
      <%= f.date_select :deadline %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('location') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :location, size: 28%>
    </div>
    <div class="col-sm-2">
      <%= f.label t('fee') %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :fee, size: 28%>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('date_text') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :date, size: 28%>
    </div>
    <div class="col-sm-2">
      <%= f.label t('instructions_url') %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :instructions_url, size: 28%>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12">
      <%= f.label t('select_location') %>
      <!-- <%= f.label t('langlong') %> -->
      <!-- <%= f.text_field :langlong %> -->
      <div id="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit( class: "btn btn-primary") %>
  </div>
<% end %>
