<p id="notice"><%= notice %></p>

<h1><%= t('competitions')%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('location') %></th>
      <th><%= t('date_text') %></th>
      <th><%= t('deadline') %></th>
      <th><%= t('fee') %></th>
      <th><%= t('instructions_url') %></th>
      <th><%= t('langlong') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.name %></td>
        <td><%= competition.location %></td>
        <td><%= competition.date %></td>
        <td><%= competition.deadline %></td>
        <td><%= competition.fee %></td>
        <td><a href="<%= competition.instructions_url %>"><%= t('instructions') %></a></td>
        <td><%= competition.langlong %></td>
        <td><%= link_to t('enroll_members'), controller: :members, action: :index, competition_id: competition.id %></td>
        <% if current_user.admin %>
          <td><%= link_to t('show'), competition %></td>
          <td><%= link_to t('edit'), edit_competition_path(competition) %></td>
          <td><%= link_to t('destroy'), competition, method: :delete, data: { confirm: t('are_you_sure') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<% if current_user.admin %>
    <br>
    <%= link_to t('new_competition'), new_competition_path, class: 'btn btn-primary' %>
<% end %>
