<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name')%>:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong><%= t('location')%>:</strong>
  <%= @competition.location %>
</p>

<p>
  <strong><%= t('date_text')%>:</strong>
  <%= @competition.date %>
</p>

<p>
  <strong><%= t('deadline')%>:</strong>
  <%= @competition.deadline %>
</p>

<p>
  <strong><%= t('fee')%>:</strong>
  <%= @competition.fee %>
</p>

<p>
  <strong><%= t('instructions_url')%>:</strong>
  <%= @competition.instructions_url %>
</p>

<p>
  <strong><%= t('langlong')%>:</strong>
  <%= @competition.langlong %>
</p>

<%= link_to t('edit'), edit_competition_path(@competition), class: "btn btn-primary" %>
<%= link_to t('back'), competitions_path, class: "btn btn-default" %>
