<% provide(:title, t('registered_users')) %>
<h1> <%= t('users') %> <small>(<%= @users.count%>)</small></h1>

<%= will_paginate %>

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th><%= t('user') %></th>
    <th><%= t('team')%></th>
    <th></th>
  </tr>
  <%= render @users %>
</table>

<%= will_paginate %>
