<%= form_for(member) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</p>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label :ITF_ID %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :itf_id %>
    </div>
    <div class="col-sm-2">
      <%= f.label t('birthdate') %>
    </div>
    <div class="col-sm-4">
      <%= f.date_select :birthdate %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('first_name') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :first_name %>
    </div>
    <div class="col-sm-2">
      <%= f.label t('sex') %>
    </div>
    <div class="col-sm-4">
      <%= f.collection_select :sex_id, Sex.all, :id, :name %>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label t('last_name') %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :last_name %>
    </div>
    <div class="col-sm-2">
      <%= f.label t('level') %>
    </div>
    <div class="col-sm-4">
      <%= f.collection_select :level_id, Level.all, :id, :name %>
    </div>
  </div>

  <%= f.submit( class:"btn btn-primary" ) %>

<% end %>
