<p id="notice"><%= notice %></p>

<h1><%= t('members') %> <small>(<%= @members.count %>)</small></h1>

<%= form_for :member, { :path => add_to_competition_members_path, :method => 'put' } do |f| %>
    <table class="table">
      <thead>
      <tr>
        <th>ITF ID</th>
        <th><%= t('first_name') %></th>
        <th><%= t('last_name') %></th>
        <% if not @enrolled %>
          <th><%= t('birthdate') %></th>
          <th><%= t('sex') %></th>
          <th><%= t('level') %></th>
          <% if @competition_id %>
              <th><%= t('enroll') %></th>
          <% end %>
        <% else %>
            <th><%= t('tull') %></th>
            <th><%= t('matsogi') %></th>
            <th><%= t('tki') %></th>
            <th><%= t('wirok') %></th>
            <th><%= t('mobum_matsogi') %></th>
            <th><%= t('tull_team') %></th>
        <% end %>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
            <tr>
              <td><%= member.itf_id %></td>
              <td><%= member.first_name %></td>
              <td><%= member.last_name %></td>
              <% if not @enrolled %>
                  <!-- Show member details and enable enrollment to a competition -->
                <td><%= member.birthdate %></td>
                <td><%= member.sex.name %></td>
                <td><%= member.level.name %></td>
                <% if @competition_id %>
                    <% if CompetitionsMember.where(member_id: member.id, competition_id: @competition_id).empty? %>
                        <td><%= check_box_tag "member_ids[]", member.id  -%></td>
                    <% else %>
                        <td><%= check_box_tag "member_ids[]", member.id, {:checked => "checked"}  -%></td>
                    <% end %>
                  <% end %>
                <% else %>
                  <!-- Updating competition attributes - show empty or store values -->
                  <% if CompetitionsMember.where(member_id: member.id, competition_id: @competition_id, tull_id: nil).empty? %>
                      <!-- <td><%= check_box_tag "tull_ids[]", member.id, {:checked => "checked"}  -%></td> -->
                      <td><%= collection_select(:competitions_members, :tull_id, Tull.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <% else %>
                      <td><%= collection_select(:competitions_members, :tull_id, Tull.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <% end %>
                  <td><%= collection_select(:competitions_members, :matsogi_id, Matsogi.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <td><%= collection_select(:competitions_members, :tki_id, Tki.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <td><%= collection_select(:competitions_members, :wirok_id, Wirok.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <td><%= collection_select(:competitions_members, :mobum_matsogi_id, MobumMatsogi.all.where(sex_id: member.sex_id), :id, :name) %></td>
                  <td><%= collection_select(:competitions_members, :tull_team_id, TullTeam.all.where(sex_id: member.sex_id), :id, :name) %></td>
                <% end %>
              <% if not @enrolled %>
                <td><%= link_to t('show'), member %></td>
                <td><%= link_to t('edit'), edit_member_path(member) %></td>
                <td><%= link_to t('destroy'), member, method: :delete, data: { confirm: t('are_you_sure') } %></td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
    <% if @competition_id %>
        <br>
        <%= hidden_field_tag :competition_id, @competition_id %>
        <div>
          <%= submit_tag t('enroll_to_comp'), class: 'btn btn-primary' %>
        </div>
    <% elsif @enrolled %>
        <br>
        <%= hidden_field_tag :enrolled, @enrolled %>
        <div>
          <%= submit_tag t('enroll_to_comp'), class: 'btn btn-primary' %>
        </div>
    <% else %>
        <br>
        <%= link_to t('new_member'), new_member_path, class: 'btn btn-primary' %>
        <%= link_to "Export", {controller: :members, action: :export}, class: 'btn btn-default' %>
    <% end %>
<% end %>