<p id="notice"><%= notice %></p>

<h1><%= t('members') %> <small>(<%= @members.count %>)</small></h1>

<%= form_for :member, { :url => "members/add_to_competition", :method => 'put' } do |f| %>
    <table class="table">
      <thead>
      <tr>
        <th>ITF ID</th>
        <th><%= t('first_name') %></th>
        <th><%= t('last_name') %></th>
        <th><%= t('birthdate') %></th>
        <th><%= t('sex') %></th>
        <th><%= t('level') %></th>
        <% if @competition_id %>
            <th><%= t('enroll') %></th>
        <% end %>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
            <tr>
              <td><%= member.itf_id %></td>
              <td><%= member.first_name %></td>
              <td><%= member.last_name %></td>
              <!-- Show member details and enable enrollment to a competition -->
              <td><%= member.birthdate %></td>
              <td><%= member.sex.name %></td>
              <td><%= member.level.name %></td>
              <% if @competition_id %>
                  <% if CompetitionsMember.where(member_id: member.id, competition_id: @competition_id).empty? %>
                      <td><%= check_box_tag "member_ids[]", member.id  -%></td>
                  <% else %>
                      <td><%= check_box_tag "member_ids[]", member.id, {:checked => "checked"}  -%></td>
                  <% end %>
              <% else %>
                <td><%= link_to t('show'), member %></td>
                <td><%= link_to t('edit'), edit_member_path(member) %></td>
                <td><%= link_to t('destroy'), member, method: :delete, data: { confirm: t('are_you_sure') } %></td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
    <% if @competition_id %>
        <br>
        <%= hidden_field_tag :competition_id, @competition_id %>
        <div>
          <%= submit_tag t('enroll_to_comp'), class: 'btn btn-primary' %>
        </div>
    <% else %>
        <br>
        <%= link_to t('new_member'), new_member_path, class: 'btn btn-primary' %>
        <%= link_to '<i class="glyphicon glyphicon-save-file"></i> Export'.html_safe, {controller: :members, action: :export}, class: 'btn btn-default' %>
    <% end %>
<% end %>