<p id="notice"><%= notice %></p>

<p>
  <strong>Itf:</strong>
  <%= @member.itf_id %>
</p>

<p>
  <strong><%= t('first_name') %>:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong><%= t('last_name') %>:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong><%= t('birthdate') %>:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong><%= t('sex') %>:</strong>
  <%= @member.sex.name %>
</p>

<p>
  <strong><%= t('level') %>:</strong>
  <%= @member.level.name %>
</p>

<%= link_to t('edit'), edit_member_path(@member), class: "btn btn-primary" %>
<%= link_to t('back'), members_path, class: "btn btn-default" %>
